<div style="display: flex;">
    <div style="flex: 1;">
        <ul>
            <li><a routerLink="buffer">Buffer</a></li>
            <li><a routerLink="buffercount">Buffer Count</a></li>
            <li><a routerLink="bufferTimer">Buffer Timer</a></li>
            <li><a routerLink="bufferToggle">Buffer Toggle</a></li>
            <li><a routerLink="bufferWhen">Buffer When</a></li>
            <li><a routerLink="Take">Take</a></li>
            <li><a routerLink="TakeLatest">Take Last</a></li>
            <li><a routerLink="TakeUntil">Take Until</a></li>
            <li><a routerLink="TakeWhile">Take While</a></li>
            <li><a routerLink="Skip">Skip</a></li>
            <li><a routerLink="SkipLast">Skip Last</a></li>
            <li><a routerLink="SkipUntil">Skip Until</a></li>
            <li><a routerLink="Distinct">Distinct</a></li>
            <li><a routerLink="DistinctUntilChanged">DistinctUntilChanged</a></li>
            <li><a routerLink="Filter">Filter</a></li>
            <li><a routerLink="First">First</a></li>
            <li><a routerLink="Last">Last</a></li>
            <li><a routerLink="ElementAt">ElementAt</a></li>
            <li><a routerLink="IgnoreElement">IgnoreElement</a></li>
            <li><a routerLink="Single">Single</a></li>
            <li><a routerLink="Map">Map</a></li>
            <li><a routerLink="MapTo">MapTo</a></li>
            <li><a routerLink="Ajax">Ajax</a></li>
            <li><a routerLink="MergeMap">MergeMap</a></li>
        </ul>
    </div>
    <div style="flex: 4;">
        <div><router-outlet /></div>
    </div>
</div>